# Explain the dataset

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statistics

In [3]:
data = pd.read_csv('Advertising.csv')

In [4]:
data

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
data1 = data.drop(['Unnamed: 0'],axis=1)

In [7]:
data1

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

# 2 Check the summary statistics and discuss the max, min, avg, median,and percentiles.

# a)minimum values of data

In [8]:
minimum = np.min(data1)

print(minimum)

TV           0.7
Radio        0.0
Newspaper    0.3
Sales        1.6
dtype: float64

# b)maximum values of data

In [9]:
maximum = np.max(data1)

print(maximum)

TV           296.4
Radio         49.6
Newspaper    114.0
Sales         27.0
dtype: float64

# c)average values of data

In [10]:
sum_of_data = np.sum(data1)

print(sum_of_data)

TV           29408.5
Radio         4652.8
Newspaper     6110.8
Sales         2804.5
dtype: float64

In [11]:
avg_value = np.sum(data1)/200
  
print(avg_value)

TV           147.0425
Radio         23.2640
Newspaper     30.5540
Sales         14.0225
dtype: float64

# d)median values of data

In [12]:
median_TV = np.median(data['TV'])
median_Radio = np.median(data['Radio'])
median_Newspaper = np.median(data['Newspaper'])
median_Sales = np.median(data['Sales'])

print('median of TV:',median_TV)
print('median of Radio:',median_Radio)
print('median of Newspaper:',median_Newspaper)
print("median of sales:",median_Sales)

median of TV: 149.75
median of Radio: 22.9
median of Newspaper: 25.75
median of sales: 12.9

# e)percentiles values of data

In [13]:
print("25th percentile of TV:   ", np.percentile(data['TV'], 25))
print("25th percentile of Radio:   ", np.percentile(data['Radio'], 25))
print("25th percentile of Newspaper:   ", np.percentile(data['Newspaper'], 25))
print("25th percentile of Sales:   ", np.percentile(data['Sales'], 25))


print("75th percentile of TV:   ", np.percentile(data['TV'], 75))
print("75th percentile of Radio:   ", np.percentile(data['Radio'], 75))
print("75th percentile of Newspaper:   ", np.percentile(data['Newspaper'], 75))
print("75th percentile of Sales:   ", np.percentile(data['Sales'], 75))

25th percentile of TV:    74.375
25th percentile of Radio:    9.975
25th percentile of Newspaper:    12.75
25th percentile of Sales:    10.375
75th percentile of TV:    218.825
75th percentile of Radio:    36.525
75th percentile of Newspaper:    45.1
75th percentile of Sales:    17.4